certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
idna==2.8
numpy==1.17.2
PyAudio==0.2.11
pycparser==2.19
python-dateutil==2.8.0
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
samplerate==0.1.0
six==1.12.0
SoundFile==0.10.2
strictyaml==1.0.3
urllib3==1.25.3
